<template name="movies_board">
    <div class="box-office-section default-padding-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-sm-12">
                    <div class="row" id="top-filter">
                        <div class="col-sm-12">
                            <div id="wrapper-filter">
                                <ul id="filter-bar">
                                    <span class="pill"></span>
                                    <li class="filter-option option-1 active" data-target="option-1">Hoje</li>
                                    <li class="filter-option option-2" data-target="option-2">Ontem</li>
                                    <li class="filter-option option-3" data-target="option-3">Ultimos 7 dias</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-sm-12">
                            <div class="movie-box-office">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th class="thumb"><img src="images/box-office/1.png" alt="img"></th>
                                        <th>1.</th>
                                        <td>
                                            <h5 class="entry-title"><a href="#">Predator Dark Age</a></h5>
                                            <ul class="entry-tag">
                                                <li><a href="#">Drama</a></li>
                                                <li><span>|</span><a href="#">SiFi</a></li>
                                                <li><span>|</span><a href="#">Advemture</a></li>
                                            </ul>
                                        </td>
                                        <td class="week">3 Week</td>
                                        <td>2.5M</td>
                                    </tr>
                                    <tr>
                                        <th class="thumb"><img src="images/box-office/2.png" alt="img"></th>
                                        <th>2.</th>
                                        <td>
                                            <h5 class="entry-title"><a href="#">Dragon Fire </a></h5>
                                            <ul class="entry-tag">
                                                <li><a href="#">Action</a></li>
                                                <li><span>|</span><a href="#">SiFi</a></li>
                                                <li><span>|</span><a href="#">Advemture</a></li>
                                            </ul>
                                        </td>
                                        <td class="week">2 Week</td>
                                        <td>5.5M</td>
                                    </tr>
                                    <tr>
                                        <th class="thumb"><img src="images/box-office/3.png" alt="img"></th>
                                        <th>3.</th>
                                        <td>
                                            <h5 class="entry-title"><a href="#">Race: Ride For Alive</a></h5>
                                            <ul class="entry-tag">
                                                <li><a href="#">Crime</a></li>
                                                <li><span>|</span><a href="#">SiFi</a></li>
                                                <li><span>|</span><a href="#">Advemture</a></li>
                                            </ul>
                                        </td>
                                        <td class="week">2 Week</td>
                                        <td>2.0M</td>
                                    </tr>
                                    <tr>
                                        <th class="thumb"><img src="images/box-office/4.png" alt="img"></th>
                                        <th>4.</th>
                                        <td>
                                            <h5 class="entry-title"><a href="#">The Fade</a></h5>
                                            <ul class="entry-tag">
                                                <li><a href="#">Action</a></li>
                                                <li><span>|</span><a href="#">SiFi</a></li>
                                                <li><span>|</span><a href="#">Advemture</a></li>
                                            </ul>
                                        </td>
                                        <td class="week">3 Week</td>
                                        <td>8.5M</td>
                                    </tr>
                                    <tr>
                                        <th class="thumb"><img src="images/box-office/5.png" alt="img"></th>
                                        <th>5.</th>
                                        <td>
                                            <h5 class="entry-title"><a href="#">Curious: Part 2</a></h5>
                                            <ul class="entry-tag">
                                                <li><a href="#">Animation</a></li>
                                                <li><span>|</span><a href="#">SiFi</a></li>
                                                <li><span>|</span><a href="#">Advemture</a></li>
                                            </ul>
                                        </td>
                                        <td class="week">4 Week</td>
                                        <td>1.5M</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-4">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>