* {
  outline: none !important;
}

body {
  margin: 0;
  background: #fff;
}

.justify-content-center {
  justify-content: center !important;
}

.row {
  display: flex;
}

.search-form-wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: 20px;
  z-index: 90;
}

form#search-form-1 {
  .btn {
    position: absolute;
    width: 80px;
    top: 0;
    right: 0;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    padding: 0;
    text-align: center !important;
    height: 55px;

    i {
      font-size: 22px;
      line-height: 55px;
    }
  }

  input {
    height: 55px;
  }
}

.form-control:focus {
  outline: 0;
  box-shadow: none;
  border-color: #e3e3e3;
}

.btn-main, .btn-second {
  color: #fff;
  background: #F5C518;
}

.btn-effect {
  overflow: hidden;
}

.btn {
  font-size: 14px;
  outline: 0;
  padding: 0 15px;
  position: relative;
  font-weight: 600;
  border: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  line-height: 35px;

  i {
    line-height: 35px;
    padding-left: 3px;
  }

  &:hover, &:focus {
    color: #fff;
    filter: brightness(113%);
    text-decoration: none;
    box-shadow: none;
  }
}

.ripple {
  width: 0;
  height: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: rgba(255, 255, 255, .4);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  position: absolute;
  opacity: 1
}

.rippleEffect {
  animation: rippleDrop .6s linear
}

@keyframes rippleDrop {
  100% {
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -o-transform: scale(2.5);
    -ms-transform: scale(2.5);
    transform: scale(2.5);
    opacity: 0
  }
}