* {
  outline: none !important;
}

body {
  margin: 0;
  background: #fff;
}

.justify-content-center {
  justify-content: center !important;
}

.row {
  display: flex;
}

.search-form-wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: 20px;
  z-index: 90;
}

form#search-form-1 {
  .btn {
    position: absolute;
    width: 80px;
    top: 0;
    right: 0;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    padding: 0;
    text-align: center !important;
    height: 55px;

    i {
      font-size: 22px;
      line-height: 55px;
    }
  }

  input {
    height: 55px;
  }
}

.form-control:focus {
  outline: 0;
  box-shadow: none;
  border-color: #e3e3e3;
}

.btn-main, .btn-second {
  color: #fff;
  background: #F5C518;
}

.btn-effect {
  overflow: hidden;
}

.btn {
  font-size: 14px;
  outline: 0;
  padding: 0 15px;
  position: relative;
  font-weight: 600;
  border: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  line-height: 35px;

  i {
    line-height: 35px;
    padding-left: 3px;
  }

  &:hover, &:focus {
    color: #fff;
    filter: brightness(113%);
    text-decoration: none;
    box-shadow: none;
  }
}

.ripple {
  width: 0;
  height: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: rgba(255, 255, 255, .4);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  position: absolute;
  opacity: 1
}

.rippleEffect {
  animation: rippleDrop .6s linear
}

@keyframes rippleDrop {
  100% {
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -o-transform: scale(2.5);
    -ms-transform: scale(2.5);
    transform: scale(2.5);
    opacity: 0
  }
}

.movie-box-office .table tr {
  box-shadow: rgba(0, 58, 115, 0.1) 0px 0px 25px 0px;
  margin-bottom: 35px;
  display: table;
  width: 100%;
}

.movie-box-office .entry-title {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 0.5rem;
  margin-top: 0px;
}

.movie-box-office .entry-title a {
  color: #9352b3;
  font-weight: 600;
  text-decoration: none;
}

.movie-box-office .entry-tag {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.movie-box-office .entry-tag li {
  display: inline-block;
}

.movie-box-office .entry-tag li a {
  color: rgb(155, 155, 155);
}

.movie-box-office .entry-tag li span {
  color: rgb(155, 155, 155);
  padding: 0px 5px;
}

.movie-box-office .table th,
.movie-box-office .table td {
  vertical-align: middle;
  border-width: 0;
  padding: 0;
}

#filter-bar {
  display: inline-flex;
  height: 36px;
  margin: 0;
  padding: 0;
  width: 100%;
  li {
    background-color: transparent;
    cursor: pointer;
    font-family: Open Sans, sans-serif;
    font-size: 11px;
    font-weight: 100;
    line-height: 36px;
    list-style-type: none;
    text-align: center;
    width: 100px;
    z-index: 10;
    color: #555;
    text-transform: uppercase;
    letter-spacing: .5px;

    &.active {
      transition: color 200ms;
    }
  }
}

#wrapper-filter {
  background-color: #FFF;
  border-radius: 30px;
  box-sizing: border-box;
  height: auto;
  margin: 30px 0;
  width: 570px;
}

.pill {
  border-bottom: 5px solid #F5C518;
  box-sizing: border-box;
  height: 38px;
  position: absolute;
  width: 100px;
}

.filter-option {
  transition: color 500ms;
}

#filter-bar.option-1 {
  .pill {
    margin-left: 0;
    transition: margin-left 200ms ease;
  }
}

#filter-bar.option-2 {
  .pill {
    margin-left: 100px;
    transition: margin-left 200ms ease;
  }
}

#filter-bar.option-3 {
  .pill {
    margin-left: 200px;
    transition: margin-left 200ms ease;
  }
}

select {
  -webkit-appearance: none;
  background: url(//victorthemes.com/themes/elsey/wp-content/themes/elsey/assets/images/icons.png) no-repeat 100% 20px;
  cursor: pointer;
}

#top-filter select {
  margin: 30px 0;
  line-height: 36px;
  border: none;
  width: 140px;
  float: right;
  font-size: 11px;
  color: #555;
  letter-spacing: .5px;
  text-transform: uppercase;
  background-position: 119% 15px;
}